# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kaiob\OneDrive\Documentos\bandtec\terceiro-semestre\3CCO-2021-1-Grupo-08\osiris-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
